beautifulsoup4==4.15.0
black==26.5.1
certifi==2026.6.17
charset-normalizer==3.4.7
click==8.4.2
deep-translator==1.11.4
evdev==1.9.3
idna==3.18
iniconfig==2.3.0
isort==8.0.1
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
platformdirs==4.10.0
pluggy==1.6.0
Pygments==2.20.0
pynput==1.8.2
pyperclip==1.11.0
pytest==9.1.1
python-xlib==0.33
pytokens==0.4.1
requests==2.34.2
six==1.17.0
soupsieve==2.8.4
typing_extensions==4.15.0
urllib3==2.7.0
